//config modal
.modal-header {
  background-color: #f8f8f8;
}
.modal-footer {
  border-top: none;
}
.modal-body {
  .tabs-edit {
    button {
      background-color: #5578eb;
      padding: 5px;
      border: none;
      margin-top: 20px;
      color: white;
    }
  }
}
