.table-manager-device {
 background: white;
 width: 98%;
 margin: auto;
 .header-top {
     color: black;
     padding-left: 35px;
     padding-top: 15px;
     padding-bottom: 15px;
 }
 .filter {
     padding-left: 25px;
   .checkbox-tkc {
     .tkc::before {
       top: 0.6rem !important;
     }
     .tkc::after {
       top: 0.65rem !important;
     }

   }
 }
 .action-table {
     border-bottom: 1px dotted gray;
     border-top: 1px dotted gray;
     padding-top: 10px;
     padding-bottom: 10px;
     margin: 30px 30px 30px 30px;
   }
}
.border-circle {
    border-radius: 1.25rem;
    margin-left: 10px;
}
.border-circle-50 {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    i {
        font-size: 13px;
    }
}
.name-device {
    margin-top: 15px;
}
.dropdown-toggle::after {
  display: none !important;
}
.margin-right-10 {
  margin-right: 10px;
}

.color-red {
  color: red;
}
.data-table {
 .table {
   th {
     border-top: none;
     .mb-3 {
       margin-bottom: 0 !important;
     }
   }
   td {
     button {
       border: none;
       i {
         color: red;
       }
     }
   }
 }
}
//config modal
.modal-header {
  background-color: #f8f8f8;
}
.modal-body {
  .icon-text {
    display: flex;
    justify-content: space-around;
    .alert-icon {
      font-size: 30px;
      color: red;
    }
    .alert-text {
      padding-top: 12px;
      font-size: 14px;
    }
  }

}
.modal-footer {
  border-top: none;
}
//end config modal
